body{
    margin: 0px;
    padding: 0px;
}

#container1{
    height:400px;
    background-image: url('nature1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
    
}

#container2{
    height:300px;
    background-image: url('nature4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;   
}

#img1{
    height: 300px;
}

#container4{
    height:400px;
    background-image: url('nature9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
    
}

.form1{
    opacity: 0.5;
}

